
fieldset{
  width:100%;
  max-width:500px;
  background-color:white;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}


.container{
  margin-left:35%;
  height:100%;
}
.lowerBox p{
  text-align: center;
  font-style:italic;
}
#tache{
  width:100%;
}

.ebola{
  background-color:#fff;
  padding:5px 10px;
  border : 1px solid #ddd;
  width:100%;
  margin-top:10px;
}
.lowerbox{
  height:20%;
  width:400px;
}

.done {
  text-decoration: line-through;
}

#archive{
  overflow:auto;
}

body{
  background-color: #eceff0;
}

h1{
  font-family: "Shadow Into Light Two", cursive;
  margin: 10px 0px 30px 10px;
  text-align: center;
}
body, input{
  font:1em "Open Sans", sans-serif;
  color:#363639;
}
